<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /conferenceRoom/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /conferenceRoom/index.html [L]
</IfModule>
